.main{

}



.gridCont{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*HEADER STUFF */

.headera{
  padding: 20px;
}


h2{
  position:relative; /*allows the 'top 50%' in after to work*/
  z-index: -2;

}

h2::after{
         content:"";
         display: block;
         width: 500px;
         height: 2px;
         background: black;
         position: absolute;
         top: 50%;
         z-index: -2;

}

span{ /*is in front of line*/
  background: white;
  padding-right: 20px; /*adds space after header for horizline*/
}


/*HEADER STUFF */
