.main{
  height: 100vh;
  position: relative;
}

.globalContain{
  position: absolute;
  width: 80vw;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body {
}

p{
  animation: fadein .2s;
}

@keyframes fadein {
  from{opacity: 0;}
  to{opacity: 1;}
}

.gridCont{
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  padding: 0px 100px 0 100px;
}

.imgdiv{
  text-align: center;
  position: relative;
}


.imgdiv::after{
  content: '';
  width: 1px;
  height: 100%;
  background: black;
  position: absolute;
  left: 40px;
}

.imgdiv::before{
  content: '';
  width: 80%;
  height: 1px;
  background: black;
  position: absolute;
  top: 10px;
  left: 0px;
  animation-name: horizStretch;
  animation-duration: 2s;
}

@keyframes horizStretch {
  from {width: 0%;}
  to {width: 80%;}
}

/*HEADER STUFF */

.headera{
  padding: 20px;
}


h2{
  position:relative; /*allows the 'top 50%' in after to work*/
  z-index: -2;

}

h2::after{
         content:"";
         display: block;
         width: 500px;
         height: 1px;
         background: black;
         position: absolute;
         top: 50%;
         z-index: -2;

}

span{ /*is in front of line*/
  background: white;
  padding-right: 20px; /*adds space after header for horizline*/
}


/*HEADER STUFF */
