.main{

}

/* .headera{
  vertical-align: center;

} */

h2{
  /* float: left; */
  width: 250px;
  height: 100px;
  position:relative;
}

h2::after{
  /* border-top: 2px solid #dfdfdf; */
         content:"";
         width: 60px;
         height: 1px;
         background:gray;
         position: absolute;
         /* top: 50%; left: 0; right: 0; bottom: 0; */
         bottom: -4px;

}

/* .line{
  background-color: black;
  height: 1px;
  width: 400px;
  float: left;
}
*/
